<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>
<!--about content -->

<div class="container-fluid bg-3 text-center">    
  
  <div id="about" class="paddsection">
    <div class="container">
      
      <div class="row justify-content-between">
        

        <div class="col-lg-4 ">
          <div class="div-img-bg">
            <div class="about-img">
              <img src="img\IMG_Aditya.jpg" class="img-responsive" alt="me">
            </div>
          </div>
        </div>

        <div class="col-lg-7">
          <div class="about-descr">

            <p class="p-heading">Hi. I am Aditya Lal Amatya. </p>
            <p class="main-para">I am a graphic designer and now an AI student in Centennial College with a fresh mind and focus for technology. Trying new things and learning new skills to be ready for the modern technology.</p>

            
            <!-- <a id="resumebtn" href="https://ik.imagekit.io/f4ckih1yox/Resuma_Ariya_Dev.pdf?ik-sdk-version=javascript-1.4.3&updatedAt=1675918771919" class="fa-solid fa-folder-user">Resume</a> -->
            <i class="fa-solid fa-file"></i>
            
          </div>

        </div>
      </div>
    </div>
  </div>

</body>
<% include partials/script %>
<% include partials/footer %>
</html>